@model PersonModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <span>@Model.FirstName</span>
        <span>@Model.LastName</span>
    </div>
    <div>
        <span>@Model.Sex</span>
    </div>
    <div>
        <span>@Model.Country</span>
        <span>@Model.City</span>
    </div>
</body>
</html>